

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#canvas {
  background-color: #EEE;
  border-radius: 6px;
  min-height: 750px;
  margin-left: 290px;
}

.toolbar_icon {
  height: 32px;
  width: 32px;
  margin: 2px;
}


/** SHAPES **/
.port { 
  fill: #DDF4FB;
  stroke: #339BB9; 
  stroke-width: 1;
}

.process {
  stroke: #339BB9;
  stroke-width: 1;
  fill: #DDF4FB;
}

.interactor {
  stroke: #339BB9;
  stroke-width: 1;
  fill: #DDF4FB;
}

.data-store {
  stroke-width: 1;
}

.connector {
  stroke: #4cbf2f;
}

.complex-process {
  stroke: #339BB9;
  stroke-width: 1;
  fill: #DDF4FB;
}




#json {
  height: 350px;
  width: 95%;
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}