

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#canvas {
  background-color: #EEE;
  border-radius: 6px;
  min-height: 750px;
}

.toolbar_icon {
  height: 32px;
  width: 32px;
  margin: 2px;
}













